{{#if this.age}}&nbsp;({{this.age}}{{#if this.city}}, <a class="signers-part cities" href="/cities/{{this.city}}">{{this.city}}</a>{{/if}}){{else if this.city}} (<a class="signers-part cities" href="/cities/{{this.city}}">{{this.city}}</a>){{/if}}
