<h3>We the undersigned citizens of {{city}} demand an asparagus emoji to fill the void we feel within us whenever we write text messages.</h3>
<div>
    {{#each signers}}
        {{#if this.url}}
            <div class=info-homepage>
                <a href="//{{this.url}}">{{this.first}} {{this.last}}</a><p>{{#if this.age}} ({{this.age}}){{/if}}</p>
            </div>
        {{else}}
            <p>{{this.first}} {{this.last}}{{#if this.age}} ({{this.age}}){{/if}}
            </p>
        {{/if}}
    {{/each}}
</div>
<a href="javascript:history.back()">Go Back</a>
