{{>header}}
<h2>Edit your profile</h2>
<form action="/edit" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
        <input id="first" name="First" type="text" value="{{first}}" placeholder="your first name" required>
        <p>First Name</p>
    </div>
    <div>
        <input id="last" name="Last" type="text" value="{{last}}" placeholder="your last name" required>
        <p>Last Name</p>
    </div>
    <div>
        <input id="mail" name="mail" type="text" value="{{mail}}" placeholder="your email" required>
        <p>Email Address</p>
    </div>
    <div>
        <input id="pass" name="pass" type="password" placeholder="new password (optional)">
        <p>Password</p>
    </div>
    <div>
        <input id="age" name="age" type="text" value="{{age}}" placeholder="your age (optional)">
        <p>Age</p>
    </div>
    <div>
        <input id="city" name="city" type="text" value="{{city}}" placeholder="your city (optional)">
        <p>City</p>
    </div>
    <div>
        <input id="homepage" name="homepage" type="text" value="{{homepage}}" placeholder="homepage (optional)">
        <p>Homepage</p>
    </div>
    <button type="submit">UPDATE</button>
</form>
<div id="error-message">{{error}}</div>
