{{>header}}
<div class="body-title">
    <h2>Edit your profile</h2>
</div>
<form action="/edit" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="form">
        <input id="first" name="First" type="text" value="{{first}}" required>
        <p>First Name</p>
    </div>
    <div class="form">
        <input id="last" name="Last" type="text" value="{{last}}" required>
        <p>Last Name</p>
    </div>
    <div class="form">
        <input id="mail" name="mail" type="text" value="{{mail}}" required>
        <p>Email Address</p>
    </div>
    <div class="form">
        <input id="pass" name="pass" type="password">
        <p>New Password</p>
    </div>
    <div class="form">
        <input id="age" name="age" type="text" value="{{age}}" >
        <p>Age</p>
    </div>
    <div class="form">
        <input id="city" name="city" type="text" value="{{city}}" >
        <p>City</p>
    </div>
    <div class="form">
        <input id="homepage" name="homepage" type="text" value="{{homepage}}">
        <p>Homepage</p>
    </div>
    <div id="error-message">{{error}}</div>
    <button type="submit">UPDATE</button>
</form>
